.asana-container {
  width: 100%;
  height: 100vh;
  min-height: max-content;
  background-color: beige;
}

.company-con {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-hold {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.text-con {
  width: 75%;
  height: 25%;
}

.text-con h1 {
  font-size: 38px;
}

.text-con button {
  width: 170px;
  height: 40px;
  border-radius: 30px;
}

.comp-hero {
  width: 75%;
  height: 75%;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.hero-right {
  width: 30%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  color: gray;
}

.comp-img {
  width: 90%;
  height: 60%;
}

.hero-left {
  width: 70%;
  height: 100%;
  background-color: rgb(203, 239, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  color: rgb(40, 47, 122);
}

.company-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.company-text h3 {
  font-size: 20px;
}

.comp-btn {
  width: 90%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
}

.comp-btn button {
  width: 170px;
  height: 40px;
  background-color: rgb(203, 239, 255);
  border-radius: 30px;
  border: 1px solid rgb(40, 47, 122);
  color: rgb(40, 47, 122);
  font-size: 15px;
}

@media (max-width: 400px) {
  .company-hold {
    width: 95%;
    height: auto;
    gap: 20px;
  }

  .text-con {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .text-con h1 {
    font-size: 24px;
  }

  .text-con button {
    width: 140px;
    height: 35px;
    font-size: 14px;
  }

  .comp-hero {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .hero-left {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }

  .hero-right {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .company-text {
    padding: 15px;
  }

  .company-text h3 {
    font-size: 16px;
  }

  .comp-img {
    width: 100%;
    height: auto;
  }

  .comp-btn {
    justify-content: center;
  }

  .comp-btn button {
    width: 140px;
    height: 35px;
    font-size: 14px;
  }
}
